.sidebar {
    height: 100vh;
    width: 15vw;
    background-color: $color-green;
    position: fixed;

    .user {
        width: 15vw;
        height: 15vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 2.5rem;
        font-weight: 800;
        color: $color-grey;
        text-transform: small-caps;
        background: url('/img/bamboo-forest2.jpg') center;
        background-size: cover;
        backdrop-filter: blur(5px);
        z-index: 100;
        padding: 1rem;

        &__pic {
            width: 60%;
            height: 60%;
            border-radius: 60%;
            background: url('/img/panda4.jpg') center no-repeat;
            background-size: 160%;
        }

        p {
            backdrop-filter: blur(1px);
        }
    }

    &__nav {
        font-size: 1.8rem;
        color: $color-grey;
        padding: 3rem;

        p {
            font-variant: small-caps;
            font-size: 2rem;
            letter-spacing: 0.1rem;
        }

        a,
        a:link,
        a:visited {
            color: $color-grey;
            text-decoration: none;
            line-height: 2.2rem;
            position: relative;
            padding-bottom: 0.5rem;

            // pour effet surlignage dynamique
            &::after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%) scaleX(0);
                transform-origin: 50% 50%;
                width: 100%;
                height: 1px;
                background-color: rgba(255, 255, 255, 0.8);
                transition: transform 250ms;
            }

            &:hover {
                // pour effet surlignage dynamique
                &::after {
                    transform: translateX(-50%) scaleX(1);
                }
            }
        }

        ul {
            list-style-type: none;
            padding-bottom: 1rem;

            li {
                margin-left: 3rem;
                display: inline-flex;
            }

            .logout {
                width: 100%;

                img {
                    transform: translateY(25%);
                    transition-duration: 0.3s;
                }

                &:hover {
                    img {
                        transform: rotate(180deg) translateY(-25%);
                    }
                }
            }
        }
    }
}
