@charset "UTF-8";
/* css global reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-weight: 400; }

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #777;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.header {
  background-color: #f5f5f5;
  padding: 0 5rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px; }

.header__logo img {
  height: 7rem; }

.sidebar {
  height: 100vh;
  width: 15vw;
  background-color: #4d734d; }
  .sidebar .user {
    width: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 800;
    color: #f5f5f5;
    text-transform: small-caps;
    background: url("/img/bamboo-forest.jpg") center;
    background-size: cover;
    backdrop-filter: blur(5px);
    z-index: 100;
    padding: 1rem; }
    .sidebar .user__pic {
      width: 60%;
      height: 60%;
      border-radius: 60%;
      background: url("/img/panda4.jpg") center no-repeat;
      background-size: 160%; }
    .sidebar .user p {
      backdrop-filter: blur(1px); }
  .sidebar__nav {
    font-size: 1.8rem;
    color: #f5f5f5;
    padding: 3rem; }
    .sidebar__nav a,
    .sidebar__nav a:link,
    .sidebar__nav a:visited {
      color: #f5f5f5;
      text-decoration: none; }
    .sidebar__nav ul {
      list-style-type: none; }
      .sidebar__nav ul li {
        margin-left: 3rem; }

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  color: #444444;
  padding: 1rem 2rem;
  border-radius: 10rem;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  border: none;
  cursor: pointer; }
  .btn:hover,
  .btn:link:hover,
  .btn:visited:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  .btn:active,
  .btn:link:active,
  .btn:visited:active {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
  .btn:focus,
  .btn:link:focus,
  .btn:visited:focus {
    outline: none;
    background-color: #4d734d; }

.btn--header {
  background-color: #d4533d;
  color: #f5f5f5; }

.btn--details {
  align-self: flex-end; }

.overview {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .overview .projects-container {
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh; }
    .overview .projects-container .search {
      width: 50%;
      font-size: 1.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .overview .projects-container .search input {
        height: 2.5rem;
        color: #444444; }
      .overview .projects-container .search p {
        font-weight: bold; }
    .overview .projects-container .card {
      width: 80%;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 8px; }
      .overview .projects-container .card__header {
        padding: 1rem 3rem;
        width: 100%;
        color: #f5f5f5;
        font-size: 1.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center; }
      .overview .projects-container .card__header.terminé {
        background-color: #4d734d; }
      .overview .projects-container .card__header.proposition {
        background-color: #d4533d; }
      .overview .projects-container .card__header.encours {
        background-color: #444444; }
      .overview .projects-container .card__details {
        padding: 1rem 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0 0 8px 8px; }
        .overview .projects-container .card__details ul {
          font-size: 1.6rem;
          width: 80%;
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center; }
          .overview .projects-container .card__details ul li {
            margin-right: 1rem; }
    .overview .projects-container .card.terminé {
      border: 2px solid #4d734d; }
    .overview .projects-container .card.proposition {
      border: 2px solid #d4533d; }
    .overview .projects-container .card.encours {
      border: 2px solid #444444; }
