div(class='filtersCard filtersCard--hide')
    .filtersOptions 
        form.filters-form
            .filters-form__container
                .filters-form__container--sortBy
                    span Ranger par :
                    select#sort-by(name='sort-by')
                        option(value='') Sélectionner
                        option(value='quote') Montant devis (croissant)
                        option(value='-quote') Montant devis (décroissant)
                        option(value='alreadyPaid') Règlement (croissant)
                        option(value='-alreadyPaid') Règlement (décroissant)
                        option(value='client') Client
                        option(value='status') Statut
                        option(value='date') Date (du plus ancien)


                .filters-form__container--date 
                    - let maxDate = new Date(Date.now());
                    span Sélectionner par date :
                    label(for='date-start') entre
                    input#date-start(type='date' name='date-between' min=`2018-01-01`)
                    label(for='date-finish') et
                    input#date-finish(type='date' name='date-between' max=`${maxDate}`)

            .filters-form__container
                .filters-form__container--status
                    span Filtrer par statut : 
                    select#filterByStatus(name='filter-state')
                        option(value='') Sélectionner
                        option(value='En cours') En cours
                        option(value='Proposition') Proposition
                        option(value='A régler') A régler
                        option(value='Terminé') Terminé
                        
                .filters-form__container--quoteAmount
                    span Filtrer par devis  :
                    label(for='filter-quote-gte') entre
                    input#filter-quote-gte(type='number' name='quote-between')
                    label(for='filter-quote-lte') et
                    input#filter-quote-lte(type='number' name='quote-between')
                    span €


            
            .filters-form__button
                button.btn Lancer la recherche
