footer.footer
    .footer__logo
        img(src='img/ico_redpanda_transparent.png' alt='Red Panda')
    ul.footer__nav
        li: a(href='#') Panda Facts
        li: a(href='#') Become a panda
        li: a(href='#') Bamboo Factory
        li: a(href='#') Contact
    p.footer__copyright &copy; by Papa Panda. All rights reserved.