header.header
    nav.nav.nav--tours
        h2.nav__el CHILL PANDA
    .header__logo
        img(src='img/ico_redpanda_transparent.png' alt='Red Panda')
    nav.nav.nav--user
        //- a.nav__el(href='#') Mes projets
        button.btn.btn--header Sign up