header.header
    nav.nav.nav--tours
        a.nav__el(href='#') Tous les devis
    .header__logo
        img(src='img/ico_redpanda_transparent.png' alt='Red Panda')
    nav.nav.nav--user
        //- a.nav__el(href='#') Mes projets
        button.nav__el Log in
        button.nav__el.nav__el--cta Sign up