.sidebar
    .user
        .user__pic
        p.user__name= user.name
    .sidebar__nav
        p Projets
        ul 
            li: a(href='/overview') Liste des projets
            li: a(href='/newproject')  Ajouter un projet
        //- p Factures
        //- ul
        //-     li: a(href='#') Liste des factures
        //- p Clients
        //-     ul
        //-         li: a(href='#') Liste clients
        //-         li: a(href='#')  Ajouter un client
        p Votre compte
            ul
                li: a(href='#') Statistiques
                li: a(href='/account') Infos perso
                li: a(href='/').logout Se déconnecter 
                    img(src='/img/logout.png')
                
                
