.sidebar
    .user
        .user__pic
        p.user__name Léa Candat
    .sidebar__nav
        p Projets
        ul 
            li: a(href='#') Liste des projets
            li: a(href='#')  Ajouter un projet
        p Factures
        ul
            li: a(href='#') Liste des factures
        p Clients
            ul
                li: a(href='#') Liste clients
                li: a(href='#')  Ajouter un client
        p Votre compte
            ul
                li: a(href='#') Statistiques
                li: a(href='#') Infos perso