doctype html
html
    head
        title Chill Panda
        link(rel='stylesheet' href='sass/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')

    body 
        h1 Furimi Project
        p some text