doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0') 
        link(rel='stylesheet' href='/sass/style.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        title Chill Panda | #{title}

    
    body 
        // CONTENT
        block content
            h1 Qu'est-ce que je fous ici ?


        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js')
        script(type='module' src='/javascript/login.js')
        script(type='module' src='/javascript/signup.js')
        script(type='module' src='/javascript/updateUser.js')
        script(type='module' src='/javascript/newProject.js')
        script(type='module' src='/javascript/editProject.js')

