extends base

block content
    main.login
        .login-form
            h1 Chill Panda
            form.loginForm
                .form__group
                    label.form__label(for='email') Adresse mail
                    input#email.form__input(type='email', placeholder='mail@exemple.com', required)
                .form__group
                    label.form__label(for='password') Mot de passe
                    div.pwContainer
                        img.showPw(src='/img/focus.png')
                        input#password.form__input(type='password', placeholder='••••••••', required, minlength='8' autocomplete='false')
                .form__group
                    a(href='/signup') Inscription
                    button.btn.btn--login Connexion