extends base

block content
    main.newproject
        include _sidebar

        .newProjectView
            - let date = new Date(Date.now()).toLocaleString('fr-FR', {day: 'numeric', month: 'long', year: 'numeric'});

            header
                h1 Nouveau projet

            .newProjectView__form-container 
                .newProjectView__form-container--header
                    p= `${date}`
                
                .newProjectView__form-container--form
                    form.form-newProject

                        .form__group
                            label.form__label(for='projectName')
                                p Nom du projet
                            input#projectName.form__input(type='text', required)

                        .form__group
                            label.form__label(for='client')
                                p Client
                            input#client.form__input(type='text', required)


                        .form__group
                            label.form__label(for='quote')
                                p Montant du devis
                            input#quote.form__input(type='text', required)

                        .form__group.form__group--radios
                            p Type de projet
                            .radio-container
                                div
                                    input#type-web.form__input--type(type='radio' name='projectType', value='Web' checked)
                                    label(for='type-web') Web
                                div
                                    input#type-print.form__input--type(type='radio' name='projectType', value='Print')
                                    label(for='status-current') Print
                                div
                                    input#type-network.form__input--type(type='radio' name='projectType', value='Réseau social')
                                    label(for='status-current') Réseau social


                        .form__group.form__group--radios
                            p Statut
                            .radio-container
                                div
                                    input#status-proposal.form__input--status(type='radio' name='status', value='Proposition' checked)
                                    label(for='status-proposal') Proposition
                                div
                                    input#status-current.form__input--status(type='radio' name='status', value='En cours')
                                    label(for='status-current') En cours
                                div
                                    input#status-toSettle.form__input-status(type='radio' name='status', value='A régler')
                                    label(for='status-toSettle') A régler
                                div
                                    input#status-finished.form__input--status(type='radio' name='status', value='Terminé')
                                    label(for='status-finished') Terminé
                                div
                                    input#status-paused.form__input--status(type='radio' name='status', value='En pause')
                                    label(for='status-paused') En pause
                                div
                                    input#status-cancelled.form__input--status(type='radio' name='status', value='Avorté')
                                    label(for='status-cancelled') Avorté



                        .form__group.right
                            button.btn Créer nouveau projet
                
