.accountView {
    display: flex;
    font-size: 1.8rem;

    .user-view {
        width: 85vw;
        margin-left: 15vw;

        header {
            height: 15vw;
            display: flex;
            align-items: flex-end;
            background: url('../../img/running_panda.gif') no-repeat bottom;
            border-bottom: 1px solid $color-font;
            margin-bottom: 5rem;

            h1 {
                font-size: 5rem;
                font-variant: small-caps;
                font-weight: 500;
                margin-left: 5%;
                padding-bottom: 3rem;
            }
        }

        h2 {
            font-size: 3.5rem;
            font-variant: small-caps;
            font-weight: 500;
            margin-bottom: 2rem;
            margin-top: 2rem;
        }

        &__form-container {
            display: flex;
            justify-content: space-between;
            padding: 3rem;
            width: 90%;
            margin: 0 auto;
            &--el {
                width: 45%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background: rgba(245, 245, 245, 1);
                box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);
                padding: 3rem 6rem;
                border-radius: 8px;

                .form {
                    width: 100%;

                    .form__group {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 2rem;

                        .form__input {
                            width: 20rem;
                            font-family: inherit;
                            padding: 1.25rem 1.75rem;
                            border: none;
                            border-top: 3px solid transparent;
                            border-bottom: 3px solid transparent;
                            -webkit-transition: all 0.3s;
                            transition: all 0.3s;
                            border-radius: 4px;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;

                            &:focus {
                                outline: none;
                                border-bottom: 3px solid $color-green;
                            }

                            &:focus:invalid {
                                border-bottom: 3px solid $color-orange;
                            }
                        }
                    }

                    .form__group.right {
                        justify-content: flex-end;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
