.overview {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .editBill-modal {
        display: none;
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);

        &__content {
            .close {
                position: absolute;
                top: 1rem;
                right: 2rem;
                font-size: 3rem;
                font-weight: bold;
                transition: 0.3s ease-in all;
                color: $color-font;
                padding: 0 1.5rem;

                &:hover {
                    cursor: pointer;
                    transform: rotate(360deg);
                    color: $color-orange;
                }
            }

            position: relative;
            font-size: 1.8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: rgba(245, 245, 245, 1);
            box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);
            padding: 5rem 6rem;
            border-radius: 8px;
            margin: 15% auto;
            width: 40%;

            header {
                display: flex;
                width: 100%;
                border-bottom: 0.1rem solid $color-font;
                justify-content: space-between;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
            }

            form {
                padding-top: 2rem;
                width: 100%;

                .form__group {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 2rem;

                    p {
                        font-weight: bold;
                    }

                    &.right {
                        justify-content: flex-end;
                        margin-top: 2rem;
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }

                    .form__input {
                        width: 20rem;
                        font-family: inherit;
                        padding: 1.25rem 1.75rem;
                        border: none;
                        border-bottom: 3px solid transparent;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        border-radius: 4px;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;

                        &:focus {
                            outline: none;
                            border-bottom: 3px solid $color-green;
                        }

                        &:focus:invalid {
                            border-bottom: 3px solid $color-orange;
                        }
                    }

                    &--radios {
                        .radio-container {
                            display: flex;

                            div {
                                min-width: 14rem;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;

                                input {
                                    margin: 1rem;
                                    width: auto;
                                }
                            }
                        }
                    }

                    &--settlementDate {
                        display: flex;
                        justify-content: space-between;

                        p {
                            font-weight: bold;
                        }

                        input {
                            width: 20rem;
                            font-family: inherit;
                            padding: 1.25rem 1.75rem;
                            border: none;
                            border-bottom: 3px solid transparent;
                            transition: all 0.3s;
                            border-radius: 4px;
                            box-sizing: border-box;

                            &:focus {
                                outline: none;
                                border-bottom: 3px solid $color-green;
                            }
                        }

                        &--hide {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .projects {
        margin-left: 15vw;
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__header {
            height: 15vw;
            width: 85vw;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            padding-top: 10rem;

            h1 {
                margin-left: 5%;
                padding-bottom: 3rem;
                font-size: 5rem;
                font-variant: small-caps;
                font-weight: 500;
            }

            .filters {
                transform: translateY(-10%);
                padding-bottom: 3rem;
                padding-left: 1rem;
                img {
                    height: 4.5rem;
                    width: 4.5rem;
                    transition: 3s linear;

                    &:hover {
                        transform: rotate(360deg);
                        cursor: pointer;
                    }
                }
            }
        }

        &__container {
            .filtersCard {
                width: 70vw;
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 3px solid $color-font;
                border-radius: 0.8rem;
                padding: 2rem 0rem;
                font-size: 1.8rem;

                &--hide {
                    display: none;
                }

                .filtersOptions {
                    width: 100%;

                    .filters-form {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        justify-content: space-around;
                        align-items: flex-start;

                        p,
                        span {
                            font-weight: bold;
                        }

                        &__container {
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            padding: 1rem 5rem;

                            &--sortBy,
                            &--status {
                                width: 45%;

                                span {
                                    width: 40%;
                                    display: inline-block;
                                }

                                select {
                                    margin-left: 2rem;
                                    padding: 0.5rem 0.5rem;
                                    font-family: inherit;
                                    width: 40%;
                                }
                            }

                            &--date,
                            &--quoteAmount {
                                display: flex;
                                align-items: center;
                                width: 45%;
                                flex: 2;
                                span {
                                    margin-right: 1rem;
                                    display: inline-block;
                                    min-width: 30%;
                                }

                                input {
                                    padding: 0.5rem 0.5rem;
                                    font-family: inherit;
                                    margin: 0rem 1rem;
                                    min-width: 25%;
                                }
                            }
                        }

                        &__button {
                            margin-top: 1rem;
                            align-self: center;
                        }
                    }
                }
            }

            .card {
                width: 70vw;
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 8px;

                &__header {
                    padding: 1rem 3rem;
                    width: 100%;
                    color: $color-grey;
                    font-size: 1.8rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                &__header.terminé {
                    background-color: $color-green;
                }

                &__header.proposition {
                    background-color: $color-pink;
                }

                &__header.encours {
                    background-color: $color-yellow;
                }

                &__header.arégler {
                    background-color: $color-orange;
                }

                &__header.enpause {
                    background-color: $color-blue;
                }

                &__header.avorté {
                    background-color: $color-font;
                }

                &__details {
                    padding: 1rem 3rem;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 0 0 8px 8px;

                    ul {
                        font-size: 1.6rem;
                        width: 80%;
                        list-style-type: none;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;

                        li {
                            margin-right: 1rem;
                        }
                    }
                }
            }

            .card.terminé {
                border: 2px solid $color-green;
            }

            .card.proposition {
                border: 2px solid $color-pink;
            }

            .card.encours {
                border: 2px solid $color-yellow;
            }

            .card.arégler {
                border: 2px solid $color-orange;
            }

            .card.enpause {
                border: 2px solid $color-blue;
            }

            .card.avorté {
                border: 2px solid $color-font;
            }
        }
    }
}
