.overview {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .projects {
        margin-left: 15vw;
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__header {
            height: 15vw;
            width: 70vw;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            padding-top: 10rem;
            padding-bottom: 3rem;

            h1 {
                font-size: 5rem;
                font-variant: small-caps;
                font-weight: 500;
                padding-right: 3rem;
            }

            .filters {
                transform: translateY(-20%);
                img {
                    height: 4.5rem;
                    width: 4.5rem;
                    transition: 3s linear;

                    &:hover {
                        transform: rotate(360deg);
                        cursor: pointer;
                    }
                }
            }
        }

        &__container {
            .filtersCard {
                width: 70vw;
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 3px solid $color-font;
                border-radius: 0.8rem;
                padding: 2rem 0rem;
                font-size: 1.8rem;

                &--hide {
                    display: none;
                }

                .filtersOptions {
                    width: 100%;

                    .filters-form {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        justify-content: space-around;
                        align-items: flex-start;

                        p,
                        span {
                            font-weight: bold;
                        }

                        &__container {
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            padding: 1rem 5rem;

                            &--sortBy,
                            &--status {
                                width: 45%;

                                span {
                                    width: 40%;
                                    display: inline-block;
                                }

                                select {
                                    margin-left: 2rem;
                                    padding: 0.5rem 0.5rem;
                                    font-family: inherit;
                                    width: 40%;
                                }
                            }

                            &--date,
                            &--quoteAmount {
                                display: flex;
                                align-items: center;
                                width: 45%;
                                flex: 2;
                                span {
                                    margin-right: 1rem;
                                    display: inline-block;
                                    min-width: 30%;
                                }

                                input {
                                    padding: 0.5rem 0.5rem;
                                    font-family: inherit;
                                    margin: 0rem 1rem;
                                    min-width: 25%;
                                }
                            }
                        }

                        &__button {
                            margin-top: 1rem;
                            align-self: center;
                        }
                    }
                }
            }

            .card {
                width: 70vw;
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 8px;

                &__header {
                    padding: 1rem 3rem;
                    width: 100%;
                    color: $color-grey;
                    font-size: 1.8rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                &__header.terminé {
                    background-color: $color-green;
                }

                &__header.proposition {
                    background-color: $color-yellow;
                }

                &__header.encours {
                    background-color: $color-font;
                }

                &__header.arégler {
                    background-color: $color-orange;
                }

                &__details {
                    padding: 1rem 3rem;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 0 0 8px 8px;

                    ul {
                        font-size: 1.6rem;
                        width: 80%;
                        list-style-type: none;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;

                        li {
                            margin-right: 1rem;
                        }
                    }
                }
            }

            .card.terminé {
                border: 2px solid $color-green;
            }

            .card.proposition {
                border: 2px solid $color-yellow;
            }

            .card.encours {
                border: 2px solid $color-font;
            }

            .card.arégler {
                border: 2px solid $color-orange;
            }
        }
    }
}
