h1 {
    color: green;
    font-size: 1.4rem;
}

.card {
    width: 50%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__header {
        border-radius: 8px 8px 0 0;
        padding: 1rem;
        width: 100%;
        color: $color-grey;
        font-size: 1.6rem;
        background-color: $color-green;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__details {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 2px solid $color-green;
        border-radius: 0 0 8px 8px;
        padding: 1rem;

        ul {
            font-size: 1.6rem;
            width: 80%;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            li {
                margin-right: 1rem;
            }
        }
    }
}

.btn,
.btn:link,
.btn:visited {
    font-size: 1.6rem;
    color: $color-font;
    padding: 1rem 2rem;
    border-radius: 10rem;
    display: inline-block;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-weight: 400;
    border: none;
    cursor: pointer;

    &:hover {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
        -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    }

    &:active {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    &:focus {
        outline: none;
        background-color: $color-green;
    }
}

.btn--header {
    background-color: $color-orange;
    color: $color-grey;
}
